.productdisplay{
    display: flex;
    width: 80%;
    margin: 10px auto;
    gap: 20px;
    margin-bottom: 50px;
}
.productdisplay-left{
    flex: 1;
    display: flex;
    gap: 10px;
}
.left-images{
    display: flex;
    gap: 10px;
    flex-direction: column;
    
}
.left-images img{
    width: 120px;
}
.right-image img{
    width: 100%;
    height: 100%;
    
}

.productdisplay-right{
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1.5;
    gap: 20px;
}
.productdisplay-right h1{
    font-size: 50px;
    font-weight: 600;
}
.right-ratings img,.right-ratings span{
    height: 12px;
}
.right-price{
    display: flex;
    gap: 20px;
}
.right-price span{
    font-size: 22px;
    font-weight: 500;
}
.right-price :nth-child(1){
    text-decoration: line-through;
    color: rgb(124, 124, 124);
}
.right-price :nth-child(2){
    color: red;
    font-weight: 600;
}
.right-content{
    font-size: 20px;
}
.right-sizes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.right-sizes h4{
    font-size: 20px;
    font-weight: 500;
}
.sizes{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.sizes div{
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(183, 179, 179);
    padding: 10px;
}
.right-add-btn{
    margin-top: 10px;
}
.right-add-btn button{
    padding: 12px 30px;
    color: white;
    background: rgb(233, 72, 72);
    border: none;
    cursor: pointer;

}
.right-tags{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.right-tags p span{
    font-size: 18px;
    font-weight: 600;
}